body{
    background-image: url(https://images.hdqwalls.com/download/windows-xp-bliss-4k-lu-1920x1080.jpg);
}
header{
    text-align: center;
    background-color: teal;
    padding: 20px;
}

.main-buttons{
    text-align: center;
}
#scores-btn,
#start-btn,
#back-btn{
    font-size: x-large;
}
.countdown-timer {
    margin: auto;
    width: fit-content;
    background-color: wheat;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}


.QA-window {
    display: none;
    margin: auto;
    background-color: thistle;
    padding: 30px;
    width: fit-content;
    text-align: center;
    font-size: larger;
}
.answer-buttons button{
    margin: auto;
    width: fit-content;
}
.feedback{
    background-color: violet;
    text-align: center;
    font-weight: 800;
}
.result-save-page{
    display: none;
    background-color: rgb(174, 235, 204);
    margin: auto;
    text-align: center;
    padding: 15px;
}
.CW-banner{
    background-color: yellowgreen;
    display: none;
}
.scores-page{
    background-color: rgb(238, 132, 181);
    margin: auto;
    text-align: center;
    font-size: x-large;
    padding: 20px;
}
